.pizza-container {
  background-color: #f5f7f9;
}
.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: none;
  position: relative;
  display: inline-block;
}

.card-body {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.card-prix {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0;
}

.card a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #c8102e;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;

  transition: all 250ms;
}

.card a:hover {
  background-color: #bea763;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.pizza-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
