#customize{

    margin-left: 210px;
    width: 850px;
}

.retour{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-top: 20px;
    color: gray;
}
.customize-image{
    width: 575px;
    height: 575px;
    position: absolute;  
}
.customize-container{
    display: flex;

}
.fleche{font-size: 14px;}
.retour p{
    font-size: 17px;
}
.description{
    margin-top: 13px;
}
.pizza-customize{
    z-index: 2;
    margin-left: 435px;
    padding: 15px;
    background-color: #FFFFFF;
    width: 470px;
    height: 545px;
}
.custom-header{
    display: flex;
    justify-content: space-between;
}
.custom-header h1,p {
    margin: 0;
   
}
.ingredient{
    font-size: 18px;
    display: flex; 
    margin-bottom: 10px;
   
}
.ingredients{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
     margin-top: 15px;
     
}
.ingredients h3{
    margin: 0;
   
}
.ingredient span{
    background-color: #dfdfe3;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 6px;
  text-align: center;
  position: relative;
}
.ingredient span:last-of-type{
    background-color: #70A401;
}
.ingr-nom{
    width: 240px;
    margin-left: -20px;
}
.supplements{
    height: 300px;
}
.custom-modif{
    display: flex;
    justify-content: space-between;
    gap:10px
}