nav{
    background-color: #C8102E;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    padding:11px 200px;
    align-items: center;
    text-align:center;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.45);
}
.link{
    color: white;
    text-decoration: none;
}
.ancres{
    border-bottom: 3px solid white;
    padding: 5px 3px;
}
.nav-logo{
    margin-right: 400px;
}
.link:hover{
    opacity: 0.8;
}