.titre{
    display: flex;
    margin-top: 50px;
    width: 850px ;
    margin-left: 200px;
}
.titre hr{
    flex: 1;
    opacity:0.2 ;
    background-color:gray ;
}
.titre p {
    margin: 0 20px;
    color: gray;
}

.content{
    display: flex;
    gap: 15px;
}